@import "tailwindcss";


.custom-datagrid .MuiDataGrid-columnHeaders {
  background-color: #fb923c;
  color: white;
  font-weight: bold;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9b4106;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
